/****logo styling*********/

nav ul {
  list-style-type: none;
}
a:link {
  text-decoration: none;
}
nav li {
  display: inline-block;
  margin: 10px;
}
/**********content*********/

h2 {
  margin-bottom: 1rem;
}

/***Footer styling****/
footer {
  position: absolute;
  bottom: 2rem;
}

/***********recipe card styling*******/
.recipecard {
  display: flex;
  flex-direction: row;
  background-color: lightgreen;
  box-shadow: 0 0 5px #333;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
  text-align: center;
  align-items: center;
}
.recipecard img {
  width: 200px;
}
.recipelistlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
button {
  margin: 1rem;
  padding: 1rem;
  background-color: burlywood;
}
input {
  margin: 1rem;
  padding: 5px;
}
