@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

/*********nav styling******/

a:link {
  margin: 5px;
}

/*********landing page bg video********/
.bgVideo {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
div.row {
  height: 10vh;
}

/*********content********/

h2 {
  margin-bottom: 1rem;
}

/***Footer styling****/
footer {
  margin-top: 10rem;
}

/***********recipe card styling*******/
.recipecard {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px #333;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
  text-align: left;
  align-items: center;
  min-height: 300px;
  padding: 15px;
}
.recipecard p {
  margin: 5px;
}
.recipecard ul {
  margin: 5px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.recipeImg {
  text-align: center;
}
.instCard {
  display: grid;
  grid-template-columns: 2;
  margin-top: 2rem;
}
.imgFit {
  display: flex;
  width: 400px;
}
.recipelistlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
@media (max-width: 576px) {
  .recipelistlist {
    display: block;
  }
}
button {
  margin: 1rem;
  padding: 1rem;
  background-color: burlywood;
  font-family: "Comfortaa", cursive;
  border-radius: 4px;
}
button:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}
input {
  margin: 1rem;
  padding: 5px;
  font-family: "Comfortaa", cursive;
}
textarea {
  margin: 1rem;
  padding: 5px;
}
button a {
  color: white;
}
button a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/******form styling**********/

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: dotted;
  border-color: #e9edc9;
  border-radius: 4px;
  margin: 0.5rem;
}
div.form-group {
  border-style: none;
}
div.col {
  border-style: none;
}
div.row {
  border-style: none;
}
section {
  border-style: dotted;
  border-color: #e9edc9;
  border-radius: 4px;
  margin: 0.5rem;
  padding: 10px;
}

label {
  margin: 1rem;
  padding: 5px;
}
.newRecipePage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.view {
  text-align: end;
  display: flex;
  align-items: flex-end;
  align-items: center;
}
ul {
  text-align: left;
}

button,
input,
optgroup,
select,
textarea {
  margin: 10px !important;
}
textarea {
  width: 40vw;
}
