* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
body {
  background-color: #f5e8c5;
  margin-top: 1rem;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 2rem;
  line-height: 1.6;

  background-image: url("https://source.unsplash.com/wMzx2nBdeng");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
body.background {
  opacity: 0.7;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

nav ul {
  list-style-type: none;
}
a:link {
  text-decoration: none;
}

nav li {
  display: inline-block;
}
.main {
  margin-top: 5vh;
}

.active {
  font-weight: bold;
}

.strikethrough {
  text-decoration: line-through;
}
.bg {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}
.navbar-light .navbar-brand {
  color: #007bff;
}

/* .nav-tabs .nav-link.active {
  background-image: linear-gradient(
    rgba(236, 236, 236, 1),
    rgba(236, 236, 236, 0)
  );
} */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    rgba(236, 236, 236, 1),
    rgba(236, 236, 236, 0)
  );
  border-color: #dee2e6 #dee2e6 rgba(255, 255, 255, 0);
}

.navbar-light .navbar-brand:hover {
  color: #007bff;
}
.card {
  background-color: #f8f9fad1;
}

.btn-secondary {
  color: #fff;
  background-color: #606c38;
  border-color: #2836189e;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #47502a;
  border-color: #3e4524;
}
.btn-primary {
  color: #fff;
  background-color: #a3b85d;
  border-color: #e9edc9;
}
.btn-primary:hover {
  color: #fff;
  background-color: #606c38;
  border-color: #415b4e;
}
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #415b4e;
  border-color: #1a221e;
}
a {
  color: #606c38;
}
a:hover {
  color: #394121;
  text-decoration: underline;
}
/*****nav colors******/
a.nav-link {
  color: #606c38;
}
/*****header space***/
h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
