* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Comfortaa", cursive;
  background-color: rgb(196, 240, 255);
  margin-top: 1rem;
  margin-left: 10vw;
  margin-right: 10vw;
  line-height: 1.6;
}
.header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
}
a:link {
  text-decoration: none;
}

nav li {
  display: inline-block;
}
.main {
  margin-top: 5vh;
}
